html {
  height: 100%;
}
body {
  height: 100%;
  color: white;
  font-family: "M PLUS 1 Code", sans-serif;
  font-weight: 800;
  background-color: black;
}

p {
  font-weight: 300;
}
ul {
  background-color: rgb(63, 62, 62);
  box-sizing: border-box;
  list-style-type: none;
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 1%;
}
li {
  padding-left: 20px;
  padding-right: 20px;
  list-style-type: none;
  color: white;
  list-style-type: none;
  float: right;
  font-size: 30px;
}
.li {
  float: left;
}

a:hover {
  color: red;
}

a {
  color: white;
  background-color: rgba(0, 0, 0, 0);
  text-decoration: rgb(255, 255, 255);
  text-decoration-color: rgb(255, 255, 255);
}
#nightModeIcon1 {
  width: 20px;
}
#nightModeIcon2 {
  width: 20px;
}
#nightModeButton {
  border: 0;
  color: white;
  background-color: white;
  border-radius: 25%;
  padding: 7px;
  border: 3px solid rgb(255, 255, 255);
  cursor: pointer;
}
#nightModeButton:hover {
  border: 3px solid black;
}
.profilePicture > img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}
.containerChild {
  background-color: rgba(139, 139, 139, 0.096);
  border-radius: 10px;
  border: 4px solid #b4b4b4;
  padding-top: 20px;
}
.containerChild:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(255, 0, 0);
  border: 4px solid #ff0024bf;
}

.containerChild > a {
  display: block;
  text-align: center;
}
.containerChild > p {
  text-align: center;
  font-size: 16px;
  margin-left: 3%;
  margin-right: 3%;
}

a > img {
  padding: 10px;
  padding-right: 5px;
  width: 500px;
  height: 500px;
  border-radius: 2%;
  max-width: 95%;
  max-height: 95%;
  height: auto;
  border-radius: 5%;
}
a > img:hover {
  cursor: pointer;
}

.profileDescs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 44px;
  animation-name: profileAnimation;
  animation-duration: 4s;
}

@keyframes profileAnimation {
  0% {
    color: rgba(255, 255, 255, 0);
  }
  100% {
    color: rgb(255, 255, 255);
  }
}

.name {
  animation-name: profileAnimation2;
  animation-duration: 8s;
  animation-fill-mode: forwards;
}
@keyframes profileAnimation2 {
  0% {
    color: rgba(0, 0, 0, 0);
  }
  100% {
    color: rgb(255, 0, 0);
  }
}

.profileDescs > * {
  margin: 0;
  padding-left: 10px;
}

#projects > h2 {
  font-size: 30px;
  margin-left: 7%;
}

.dash {
  animation-name: profileAnimation3;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes profileAnimation3 {
  0% {
    color: rgba(0, 0, 0, 0);
  }
  100% {
    color: rgb(255, 0, 0);
  }
}

.navBar {
  position: fixed;
  top: 0;
  width: 94%;
  margin-top: 0;
  margin-left: 3%;
  margin-right: 3%;
}

#introduction {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 40px;
  margin-top: 16%;
  margin-bottom: 16%;
}
#projects {
  margin-top: 10%;
  margin-left: 4%;
  margin-right: 4%;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 100px;
  margin-left: 7%;
  margin-right: 7%;
}

#contact {
  display: flex;
  justify-content: space-around;
  margin-top: 10%;
}

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  margin-top: 10%;
  text-align: center;
}
.socials {
  width: 70px;
  height: 70px;
  background-color: red;
  border-radius: 25%;
  margin-left: 6px;
  margin-right: 6px;
  padding: 0;
}
.socialHeader {
  color: red;
}
.socials:hover {
  background-color: white;
}

#contact {
  text-align: center;
  margin-bottom: 7%;
}
.colorful {
  background-image: linear-gradient(270deg, #ff0000, #0035ff, #19ff00, #ff00f9);
  background-size: 800% 800%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;

  -webkit-animation: AnimationName 9s ease infinite;
  -moz-animation: AnimationName 9s ease infinite;
  animation: AnimationName 9s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 51%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 51%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 51%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media only screen and (max-width: 810px) {
  .li {
    float: none;
  }
  li {
    float: none;
  }
  .navBar {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #introduction {
    flex-direction: column;
    align-items: center;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
  }
  #contact {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .profilePicture > img {
    width: 200px;
    height: 200px;
    border-radius: 19%;
  }
  #nightModeButton {
    margin-top: 10px;
  }
}
/* dark mode classes */
.dark-mode {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
.dark-mode2 {
  border-color: white;
  background-color: rgb(255, 255, 255);
  border-color: lightsteelblue;
}
.dark-mode2:hover {
  border-color: white;
  background-color: rgb(213, 224, 238);
}
.dark-mode3 {
  background-color: white;
}
.dark-mode3:hover {
  background-color: lightsteelblue;
}
.dark-mode4 {
  color: black;
}

.dark-mode5 {
  background-color: rgba(176, 196, 222, 0.747);
}
.dark-mode6 {
  color: lightsteelblue;
}
